.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #333;
}

.menu_item {
  padding: 10px; 
  cursor: pointer;
  &:hover {
    background-color: #000;
  }
  &.active {
    background-color: #e74c3c; 
  }
} 

.header {
  display: flex;
  align-items: center;
  .title {
    font-size: 18px;
  }
}